<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.pde.emfforms.editor.EmfValidatorLabelDecorator"
            id="org.eclipse.pde.emfforms.masterDetailDecorator"
            label="EMF trees warnning and errors"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.emf.ecore.EObject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
