<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.pde.ds.ui.internal.editor.DSEditor"
            contributorClass="org.eclipse.pde.emfforms.editor.EmfActionBarContributor"
            default="true"
            extensions="numerical"
            filenames="component.xml"
            icon="icons/obj16/ds_obj.gif"
            id="org.eclipse.pde.ds.ui.emf.editor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.pde.ds.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.pde.ds.ui.internal.handlers.AddScrBuilderHandler"
            id="org.eclipse.pde.ds.ui.experimental.commands.addScrBuilder"
            name="%command.configureDSBuilder.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.pde.ds.ui.experimental.commands.addScrBuilder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt></iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
